.bmenus__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

.bmenus__item {
  width: 165px;
  height: auto;
  margin: 10px 20px;
  cursor: pointer;
}
.bmenus__img {
  width: 165px;
  height: 245px;
  object-fit: cover;
  margin-bottom: 17px;
  border-radius: 15px;
}

.bmenus__name {
  font-family: "Rotterburg Stylish FREE";
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #c9ac8c;
}

.bmenus__author {
  font-family: "Visuelt Pro";
  font-weight: 300;
  font-size: 12px;
  line-height: 144.4%;
  color: rgba(255, 255, 255, 0.6);
}

.bmenus__comment {
  font-family: "Visuelt Pro";
  font-weight: 300;
  font-size: 12px;
  line-height: 144.4%;
  color: rgba(255, 255, 255, 0.6);

  & i {
    color: #fff;
    margin-right: 5px;
  }
}
