@import "../../../App.scss";

.main__categor {
  position: relative;
  width: 100%;
  height: auto;
}

.categor__inner {
  position: relative;
  width: 100%;
  padding-top: 30px;
  margin-bottom: 200px;
}

.categor__title {
  font-family: "Rotterburg Stylish FREE";
  font-weight: 400;
  font-size: 31px;
  line-height: 34px;
  color: $primary-gold;
  text-align: center;
  margin-bottom: 20px;
}

.catbtns__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catbtns__btn {
  // font-family: "HelveticaNeueCyr";
  font-family: "Steinbeck";
  font-weight: 400;
  font-size: 25px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  border: none;
  padding: 10px;
  margin: 0 25px;

  &:hover {
    color: $primary-gold;
  }
}

.catbtns__btn-act {
  color: $primary-gold;
}

.categor__menus {
  width: 100%;
  height: auto;
  padding-top: 40px;
}

.catmenus__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -21px;
  margin-right: -21px;
}

.catmenus__item {
  margin: 0 21px;
  margin-bottom: 25px;
  width: 174px;
  min-height: 250px;
  overflow: hidden;
  background-image: url("../../../assets/Images/categor-card-bg-img.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.catmenus__img {
  width: 175px;
  height: 175px;
  object-fit: cover;
}

.catmenus__name {
  width: 170px;
  font-family: "Steinbeck";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: $primary-gold;
  margin-bottom: 4px;
  text-align: center;
}

.catmenus__year {
  font-family: "Steinbeck";
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin-bottom: 15px;
}

.catmenus__book_player {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.catbookpla__btn {
  font-family: "Steinbeck";
  font-weight: 400;
  font-size: 22px;
  line-height: 16px;
  color: $white-color;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  margin: 0 16px;
  transition: all 0.2s ease;

  & i {
    font-size: 24px;
    color: $white-color;
    margin-right: 5px;
    transition: all 0.2s ease;
  }

  &:hover {
    color: $primary-gold;
  }
  &:hover i {
    color: $primary-gold;
  }
}

.catmenus__link {
  text-decoration: none;
}

.pagnition {
  color: #fff !important;
  background-color: rgb(116, 102, 82) !important;
  text-align: center;
  width: 420px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;

  & button {
    color: #fff;
  }
}
